<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/BootStrap/css/bootstrap.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/BootStrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/BootStrap/js/bootstrap.js"></script>
</head>
<body>
<form th:action="@{/user/login}" th:object="${User}" method="post">
    <table>
        <tr><td>手机号：</td><td><input type="text" name="phone"/></td></tr>
        <tr><td>密码：</td><td><input type="text" name="password"/></td></tr>
        <tr><td><a th:href="@{/user/jumpRegist}">注册</a></td><td></td></tr>
        <tr><td colspan="2"><input type="submit" value="登录"/></td></tr>
    </table>
</form>
</body>
</html>